.form-container {
  width: 50vw;
  margin: auto;
  padding: 20px;
  /* background: #373737; */
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(157, 152, 240, 0.1);
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(41, 39, 39);
}



button {
  padding: 10px;
  background: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}


@media (max-width:700px) and (min-width:350px) {
  .form-container {
    width: 90vw;
    margin: auto;
    padding: 20px;
    background: #222;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(28, 20, 184, 0.1);
  }
}